#sonyApp {
	margin: 5em;
}
label {
	display: inline-block;
	width: 7em;
}

#baseUrl {
	width: 20em;
}

#service {
	width: 7em;
}

#version {
	width: 4em;
}

#parms {
	width: 35em;
}

#results {
	clear: both;
	display: block;
	width: 100em;
	height: 20em;
}

#leftside {
	float: left;
	width: 50em;
}

#methods {
	border: solid 1px black;
	padding: 5px;
	margin-top: 5px;
	overflow: auto;
	height: 20em;
}

#methods td {
	 white-space: nowrap;
	 padding: 0px 2px;
	 border: solid 1px lightgray;
}

input[type='file'] {
	display: none;
}

.even {
	background-color: lavender;
}

tr.diff {
	background-color: orange; 
}


table tr.selected {
    background-color: aquamarine; 
}